body{
    background-image:url('../img/plano-fundo.jpg');
    background-size:100%;
}
a{
    text-decoration: none;
    color:#3AB795!important;

}
.corcontato{
    background-color: #86BAA1!important;
}
.page-item.active .page-link{
    background-color:#38C172!important;
    border-color:#38C172!important;
}
.dropdown-item.active .show{
    background-color: #38C172!important;
    border-color:#38C172!important;
}